html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
 
}

.body {
    font-family: "Open Sans", sans-serif;
    max-width: 900px;
    min-width: 200px;
    margin: 20px auto;
    width: 100%;
    height: auto;
    background-image: url("../images/landscape.jpg");
    background-size: cover;
    }
